html{
	display: block;
}

body{
	margin: 0;
	padding: 0;
}
.navbar{
	border-radius: 0;
}
.nav{
	margin-right: 2%;
}
.navbar-brand{
	margin-left: 2%;
}
/*
nav{
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline-flex;
	background: #222;
	color: #fff;
}

.navbar{
	display: inline;
	width: 100%;

}
.navbar-brand{
	width: 10%;
}
.navbar-header{
	display: inline;
	width: 30%;

}
.navbar-contents{
	margin-right: 3%;
	display: inline;
	width: 70%;
	float: right;
}
.right{
	float: right;
}
.navbar-data{
	width: 100%;
	float:right;

}
ul li{
	text-decoration: none;
	list-style: none;
	display: inline;
}
ul{
	display: inline-block;
}
a{
	color:inherit;
	text-decoration: none;
}
ul li a:hover, ul li a:focus{
	color: rgb(215,215,215);
}
.navbar-data li{
	margin-left: 2%;
	position: relative;

} */