body, html{
	height: 100%;
	margin: 0;
	padding:0;
	display: block;

}
.section1, .section2, .section3, .team{
	position: relative;
	opacity:0.7;
	/*margin-top: -1.5%;*/
	background-color: #222;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

.section1{
	background-image: url('../../static/images/pexels-photo-355988.jpeg');
	min-height: 100%;
	
}
.header-tag{
	position: absolute;
	color: #000;
	line-height: 1.3em;
	transform: scale(1, 1.5);

	text-align: center;
	width: 100%;

    font-family: 'Archivo Black', sans-serif;

	
	/*left: 50%;*/
	top: 40%;
	font-weight: 45px;


	font-size: 3em;

}
.line1{
	color: #fff;
}
.line2{
	color:  #005c99;
}
.intro{
	text-align: center;
	padding: 2em 4em;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}
.section2{
	background-image: url('../../static/images/writing-notes-idea-conference.jpg');
	min-height: 20em;
}
.section3{
	background-image: url('../../static/images/pexels-photo-269451.jpeg');
	min-height: 20em;
}
.team{
	background-image: url('../../static/images/pexels-photo-209640.jpeg');
	min-height: 20em;
}

/*
nav{
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline-flex;
	background: #222;
	color: #fff;
}

.navbar{
	display: inline;
	width: 100%;

}
.navbar-brand{
	width: 10%;
}
.navbar-header{
	display: inline;
	width: 30%;

}
.navbar-contents{
	margin-right: 3%;
	display: inline;
	width: 70%;
	float: right;
}
.right{
	float: right;
}
.navbar-data{
	width: 100%;
	float:right;

}
ul li{
	text-decoration: none;
	list-style: none;
	display: inline;
}
ul{
	display: inline-block;
}
a{
	color:inherit;
	text-decoration: none;
}
ul li a:hover, ul li a:focus{
	color: rgb(215,215,215);
}
.navbar-data li{
	margin-left: 2%;
	position: relative;

} */